<!DOCTYPE html>
<html>

<head>
	<title>第二课</title>
</head>
<body>
	<div id="app">
		<div>
		<!-- v-model 是Vue里的指令 v-model是自定义的 
         v-model="app.data.name" 等同
         ------------------------------------
         v-if="sex" 如果是v-if 元素没有直接DOM删除了
         ------------------------------------
         v-show="sex" 如果是v-show 元素永远存在只是隐藏
		  -->
		    <input type="text" v-model="name">
			<span> 你的名字是：{{name}}</span>
		</div>

		<div>
		    <input type="text" v-model="age">
			<span  v-show="age" > 你的年龄是：{{age}}</span>
		</div>

		<div>
		    <input type="text" v-model="sex">
			<span v-if="sex"> 你的性别：{{sex}}</span>
		</div>
	</div>
<script src="vue-2.4.0.js"></script>
<script src="js.js"></script>
</body>
</html>